@tailwind base;
@tailwind components;
@tailwind utilities;

/* Polaris Trip custom */

body {
  background: linear-gradient(
    to bottom,
    #f7f7f5 0%,
    #f5f5f2 100%
  );
  color: #3e3e3e;
  -webkit-font-smoothing: antialiased;
}
